In [1]:
name = "Sam"

In [2]:
name

'Sam'

In [7]:
last_name[1:]

'am'

In [22]:
x = "Hello World"

In [23]:
x = x + "! It is beautiful outisde."

In [24]:
x

'Hello World! It is beautiful outisde.'

In [25]:
letter = 'z'

In [26]:
letter * 10

'zzzzzzzzzz'

In [27]:
2 + 3

5

In [28]:
'2' + '3'

'23'

In [29]:
x = 'Hello World!'

In [30]:
x.upper()

'HELLO WORLD!'

In [31]:
x.upper

In [32]:
x.lower()

'hello world!'

In [36]:
x = "Hi! this is a string."

In [37]:
x.split()

['Hi!', 'this', 'is', 'a', 'string.']

In [38]:
x.split('i')

['H', '! th', 's ', 's a str', 'ng.']

### Formatting with the .format method

A good way to format objects into your strings for print statements is with string.format method. 
The syntax is:

#### 'String here {} then also {}'.format.('something1','something2')

In [41]:
print("This string is {}.".format('INSERTED'))

This string is INSERTED.

In [45]:
print("The {1} {0} {2} {3}{4}".format('fox','brown','is','quick','.'))

The brown fox is quick.

In [52]:
print("The {b} {f} {i} {q}{fu}".format(f='fox',b='brown',i='is',q='quick',fu='.'))

The brown fox is quick.

#### Float formatting follows "{value:width.precision f}"

In [1]:
result = 100/777

In [2]:
result

0.1287001287001287

In [4]:
print("The result value is:{r:1.3f}".format(r=result))

The result value is:0.129

#### Formatted String

In [6]:
name ='Jose'

In [8]:
print(f"His name is {name}.")

His name is Jose.

In [10]:
name = "Sam"
age = 3

In [11]:
print(f"{name} is {age} years old.")

Sam is 3 years old.