In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
len(t)

3

In [6]:
len(mylist)

3

In [7]:
t = ('one',2)

In [8]:
t[0]

'one'

In [9]:
t[-1]

2

In [10]:
t = ('a','a','b')

In [11]:
t.count('a')

2

In [12]:
t.index('b')

2

In [13]:
mylist = [1,2,3]

In [16]:
mylist[0] = 'NEW'

In [17]:
mylist

['NEW', 2, 3]

In [18]:
t

('a', 'a', 'b')

#### Tuple is immutable

In [19]:
t[0] = 'c'

TypeError: 'tuple' object does not support item assignment

### Sets

- Sets are unordered collection of unique elements.
- There can be only representative of the same objects.

In [20]:
myset = set()

In [21]:
myset.add(1)

In [22]:
myset

{1}

In [28]:
myset.add(2)

In [29]:
myset

{1, 2}

In [30]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [33]:
set(mylist)

{1, 2, 3}

In [37]:
set('Mississippi')

{'M', 'i', 'p', 's'}

### Boolean

In [38]:
True

True

In [39]:
False

False

In [40]:
type(True)

bool

In [41]:
1 > 2

False

In [42]:
1 == 1

True

In [44]:
b = None

In [45]:
b